:root {
	--morado-capacita: #8c2b87;
	--investiga-amarillo: #ef7d17;
	--observa-azul: #135b89;
	--Black: #000;
	--White: #fff;
	--magenta: #d63384;
	--azul-web: #0d6efd;
	--color-text: #135b89;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

body {
	background: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 100% !important;
	overflow-x: hidden !important;
}

body::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgb(12, 46, 109) 80%
	);
	border-radius: 5px;
}

::selection {
	background-color: #d63384;
	color: #fff;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	z-index: 999;
	background: linear-gradient(
		0deg,
		rgba(6, 16, 41, 1) 0%,
		rgba(12, 46, 109, 1) 100%
	);
	transition: background 0.3s;
	border-bottom: 1px solid #ffffff;
}
.scrolled {
	background: rgba(12, 46, 109, 1);
	border-bottom: 1px solid #ffffff;
}

/* logo-gov */

.img-colombiapotencia {
	width: 7em;
	object-fit: cover;
	position: fixed;
	top: 0%;
	left: 2%;
}

.img-gov {
	width: 5em;
	object-fit: cover;
	position: fixed;
	top: -0.7%;
	left: 90%;
}

.img-micologia {
	width: 3.4em;
	object-fit: cover;
	position: fixed;
	top: -1%;
	left: 82%;
}

.divider {
	display: flex;
	align-items: center;
	position: fixed;
	top: 30px;
	left: 86.7%;
}

.divider-text {
	margin: 0 10px;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
}

/* Estilos del menú */
/* Menu Hamburguesa */

.main-header {
	/* height: 50px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.4rem;
	/* margin-top: 3%; */
	position: relative;
}

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	margin-left: -100%;
	transition: all 0.2s linear;
	background-color: rgba(255, 255, 255, 0.247);
	z-index: 100;
}

.main-nav.show {
	margin-left: 0;
}

.nav-links {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.link-item {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
	position: relative;
	font-size: unset;
	display: inline-block;
	margin-top: 0;
	margin-right: 4rem;
}

.link-item::after {
	position: absolute;
	content: '';
	background-color: rgb(255, 255, 255);
	bottom: -2px;
	left: 0;
	width: 0%;
	height: 3px;
	transition: 0.3s ease all;
}

.link-item:hover::after {
	width: 100%;
}

.button-menu {
	z-index: 200;
	width: 40px;
	height: 40px;
	border: none;
	display: flex;
	background: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
	top: -140%;
	left: 40%;
}

.button-menu span {
	width: 37px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #fff;
	border-radius: 3px;
	transform-origin: 4px 0px;
	transition: all 0.2s linear;
}

.button-menu.close span {
	opacity: 1;
	transform: rotate(45deg) translate(0px, 0px);
	background: #ffffff;
}

.button-menu.close span:nth-child(2) {
	transform: rotate(-45deg) translate(-8px, 5px);
}

.button-menu.close span:nth-child(3) {
	display: none;
}

.button-menu {
	display: none;
}

.main-logo {
	flex-basis: 30%;
}

.main-nav {
	position: static;
	margin-left: 0%;
	flex-basis: 70%;
	height: 100%;
	background-color: transparent;
}

/* Estilos del submenú */
.submenu ul {
	display: none;
	position: absolute;
	background-color: rgba(12, 46, 109, 1);
	text-align: justify;
}

.submenu:hover ul {
	width: 190px;
	height: 430px;
	display: block;
	position: absolute;
	background-color: rgba(12, 46, 109, 1);
	top: 15px;
	left: 33%;
	transition: 0.3s ease all;
}

li {
	list-style-type: none;
}

.submenu ul li {
	display: block;
}

.submenu ul li a {
	padding: 10px;
}

/* ****** */

@media screen and (min-width: 1900px) and (max-height: 3840px) {
	/* logo-gov */

	.img-colombiapotencia {
		width: 10em;
		object-fit: cover;
		position: fixed;
		top: -1px;
		left: 2%;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.img-gov {
		width: 6.5em;
		object-fit: cover;
		position: fixed;
		top: -5px;
		left: 92%;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.img-micologia {
		width: 4.5em;
		object-fit: cover;
		position: fixed;
		top: -9px;
		left: 85%;
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.divider {
		display: flex;
		align-items: center;
		position: fixed;
		top: 40px;
		left: 89.5%;
	}

	.divider-text {
		margin: 0 10px;
		width: 10px;
		height: 10px;
		background-color: #ffff;
		border-radius: 50%;
	}

	.submenu ul {
		display: none;
		position: absolute;
		background-color: rgba(12, 46, 109, 1);
		padding-left: 30px;
		padding: 10px;
	}
	.submenu:hover ul {
		display: block;
		position: absolute;
		background-color: rgba(12, 46, 109, 1);
		left: 50%;
		top: 27px;
		transition: 0.3s ease all;
	}

	.link-item {
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-weight: bold;
		position: relative;
		font-size: unset;
	}

	.link-item::after {
		position: absolute;
		content: '';
		background-color: rgb(255, 255, 255);
		bottom: -2px;
		left: 0;
		width: 0%;
		height: 3px;
		transition: 0.3s ease all;
	}
}
/*  */
.text-banner {
	background: linear-gradient(
		0deg,
		rgba(6, 16, 41, 1) 0%,
		rgba(12, 46, 109, 1) 100%
	);
	height: 50em;
}

.contenedor-textos {
	width: 100%;
	color: rgb(255, 255, 255);
	position: relative;
	top: 7em;
	left: -1%;
}

h1 {
	font-size: 45px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	text-align: center;
}


/* video */

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
	position: absolute;
	top: 50%;
	left: 57%;
	width: 33%;
	height: 36%;
}

.inicial {
	width: 55%;
	position: relative;
	left: -20%;
	bottom: -5em;
	filter: drop-shadow(0px 8px 3px #02020265);
	object-fit: cover;
}

.img-oculta {
	display: none;
}

.wave {
	position: absolute;
	bottom: -220px;
	left: 0;
	width: 100%;
}

/* *** */

/* *** */

section {
	height: 55rem;

	/* overflow: hidden; */
}

h3 {
	color: rgba(12, 46, 109, 1);
	font-size: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	margin: 80px;
	/* text-shadow: 2px 2px 2px #222; */
	z-index: 70;
}

p {
	position: absolute;
	color: #000;
	opacity: 87%;
	z-index: 70;
	bottom: -55em;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	margin: 60px;
}
.p-contenedor::first-letter {
	font-size: 3em;
	-webkit-initial-letter: 3 1;
	initial-letter: 3 1;
	color: rgba(12, 46, 109, 1);
	font-weight: 500;
	margin-right: 0.25em;
	/* text-shadow: 3px 3px 3px #222;
	font-family: 'HK Grotesk'; */
}

strong {
	color: rgba(12, 46, 109, 1);
	font-size: 25px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	margin: 0px;
	/* text-shadow: 2px 2px 2px #222222; */
	z-index: 70;
}

/*  */
/*  */
/*  */

.modal {
	position: fixed;
	top: 5%;
	left: 50%;
	background: rgba(0, 0, 0, 0.35);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: 80;
	margin: 5%;
}

#btn-modal:checked ~ .modal {
	opacity: 1;
	visibility: visible;
}

.contenedor {
	width: 500px;
	height: 500px;
	background-color: #fff;
	box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
	overflow: scroll;
}

#btn-modal:checked ~ .modal .contenedor {
	transform: translateY(0%);
}

.contenedor::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

.contenedor label {
	position: absolute;
	top: 25px;
	right: 10px;
	color: rgba(6, 16, 41, 1);
	font-size: 20px;
	cursor: pointer;
}

.contenedor::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgba(12, 46, 109, 1) 80%
	);
	border-radius: 5px;
}
.contenido {
	width: 100%;
	padding: 10px;
}

.contenido .h3-contenedor {
	font-size: 30px;
	position: relative;
	left: -2%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 40px;
	text-shadow: 2px 2px 2px #222;
}

.contenido .p2-contenedor {
	font-size: 16px;
	font-family: 'work sans';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	position: relative;
	left: -1%;
	top: 0em;
}

#btn-modal {
	display: none;
}

.lbl-modal {
	text-decoration: underline;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: -6em;
	margin-left: 48px;
	color: rgba(12, 46, 109, 1);
	text-shadow: none;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.contenedor {
		width: 95%;
	}
}

/* ****** */

.imagenes {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.imagenes div {
	width: 100%;
	max-width: 400px;
	margin: 20px;
}

.imagenes img {
	width: 60%;
	height: auto;
	object-fit: cover;
	filter: drop-shadow(0px 8px 3px #02020265);
}

.lbl-modal2 img {
	width: 67%;
	height: auto;
	filter: drop-shadow(0px 8px 3px #0202024f);
}

.lbl-modal3 img {
	width: 70%;
	height: auto;
}

.lbl-modal5 img {
	width: 100%;
	height: auto;
}

.lbl-modal6 img {
	width: 70%;
	height: auto;
}

a {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	color: rgba(12, 46, 109, 1);
	cursor: pointer;
	font-weight: 600;
}

@media (min-width: 768px) {
	.imagenes div {
		width: 45%;
		max-width: none;
	}
}

@media (min-width: 1024px) {
	.imagenes div {
		width: 30%;
	}
}

@media (min-width: 2560px) {
	.imagenes div {
		width: 20%;
	}
}

/* ****** */

/* <!-- Slider Enfermedades  --> */

.slider-a {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

#tut .slider-a {
	text-decoration: none;
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.container {
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 100%;
	background-color: #000;
	min-height: 500px;
	overflow: hidden;
}

.fungicas {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
	text-align: center;
	font-size: 2em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	align-items: center;
	z-index: 120;
	position: absolute;
	top: 10%;
	left: 36%;
}

.t-box {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
	text-align: center;
	align-items: center;
	margin-left: 0.7em;
	font-size: 1em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
}

.fungicas2 {
	position: absolute;
	top: -780px;
	left: 40%;
	text-align: center;
	z-index: 190;
	padding: 1em 1em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-family: 'Poppins';
	font-size: 1.7em;
	font-style: normal;
	font-weight: 600;
	margin: 1em 0.8em;
	width: 20%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgba(12, 46, 109, 1);
}

.fungicas2::after,
.fungicas2::before {
	content: '';
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid;
	transition: all 0.6s ease;
	border-radius: 2px;
}

.fungicas2::after {
	bottom: 0;
	right: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: rgba(12, 46, 109, 1);
	border-right-color: rgba(12, 46, 109, 1);
}

.fungicas2::before {
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: rgba(12, 46, 109, 1);
	border-left-color: rgba(12, 46, 109, 1);
}

.fungicas2:hover:after,
.fungicas2:hover:before {
	border-bottom-color: var(--magenta);
	border-right-color: var(--magenta);
	border-top-color: var(--magenta);
	border-left-color: var(--magenta);
	width: 100%;
	height: 100%;
}

.fungicas3 {
	position: absolute;
	top: -170%;
	left: 35%;
	z-index: 190;
	text-align: center;
	padding: 1em 1em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	font-family: 'Poppins';
	font-size: 1.7em;
	font-style: normal;
	font-weight: 600;
	margin: 1em 0.8em;
	width: 30%;
	height: 5vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: rgba(12, 46, 109, 1);
}

.fungicas3::after,
.fungicas3::before {
	content: '';
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid;
	transition: all 0.6s ease;
	border-radius: 2px;
}

.fungicas3::after {
	bottom: 0;
	right: 0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: rgba(12, 46, 109, 1);
	border-right-color: rgba(12, 46, 109, 1);
}

.fungicas3::before {
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: rgba(12, 46, 109, 1);
	border-left-color: rgba(12, 46, 109, 1);
}

.fungicas3:hover:after,
.fungicas3:hover:before {
	border-bottom-color: var(--magenta);
	border-right-color: var(--magenta);
	border-top-color: var(--magenta);
	border-left-color: var(--magenta);
	width: 100%;
	height: 100%;
}

.fungicas5 {
	text-align: center;
	font-size: 1.7em;
	margin-top: 5%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	align-items: center;
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
	z-index: 190;
	position: absolute;
	top: -368%;
	left: 45%;
}

#third:checked ~ #labels label,
#sixth:checked ~ #labels label {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.one h1,
.one h2,
#first:checked ~ #labels label.first {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.two h1,
.two h2,
#second:checked ~ #labels label.second {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.three h1,
.three h2,
#third:checked ~ #labels label.third {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.four h1,
.four h2,
#fourth:checked ~ #labels label.fourth {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.five h1,
.five h2,
#fifth:checked ~ #labels label.fifth {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.six h1,
.six h2,
#sixth:checked ~ #labels label.sixth {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.seven h1,
.seven h2,
#seventh:checked ~ #labels label.seventh {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.eight h1,
.eight h2,
#eighth:checked ~ #labels label.eighth {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

.nine h1,
.nine h2,
#nineth:checked ~ #labels label.nineth {
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
}

input[type='radio'] {
	display: none;
}

label {
	display: inline-block;
	margin-right: 40px;
	cursor: pointer;
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.4em 0.4em 0.4em;
	font-size: 22px;
	font-weight: 600;
	font-family: Arial;
}

#labels {
	position: absolute;
	bottom: 7%;
	left: 3%;
	width: 100%;
	z-index: 100;
	text-align: center;
}

.slide {
	width: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.3s ease-in;
	height: 100%;
}

.slide div {
	margin: 0;
	padding: 30px;
	width: 100%;
	color: rgba(12, 46, 109, 1);
	text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
	position: relative;
	transition: background-color 0.3s linear;
	height: 100%;
}

.one div {
}

.one-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -85px;
	background-color: #d5eada;
}

.two div {
}

.two-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -85px;
	background-color: #e2cfe2;
}

.three div {
}

.three-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -85px;
	background-color: #cfdab5;
}

.four div {
}

.four-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -85px;
	background-color: #bad5f7;
}

.five div {
}

.five-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -85px;
	background-color: #c9cbc2;
}

.six div {
}

.six-img {
	width: 2400px;
	height: 2500px;
	position: relative;
	left: -50px;
	top: -930px;
	background-color: #f0e3ed;
}

.seven div {
}

.seven-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -86px;
	background-color: #f1e7ff;
}

.eight div {
}

.eight-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -86px;
	background-color: #9fdab5;
}

.nine div {
}

.nine-img {
	width: 2800px;
	height: 850px;
	position: relative;
	left: -50px;
	top: -86px;
	background-color: #ffffd8;
}

img {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
}

#first:checked ~ div.one,
#fourth:checked ~ div.four,
#second:checked ~ div.two,
#third:checked ~ div.three,
#fifth:checked ~ div.five,
#sixth:checked ~ div.six,
#seventh:checked ~ div.seven,
#eighth:checked ~ div.eight,
#nineth:checked ~ div.nine {
	opacity: 1;
}

/* ******* */

/* aula virtual y webinars */

aside {
	background: linear-gradient(
		0deg,
		rgba(6, 16, 41, 1) 0%,
		rgba(12, 46, 109, 1) 100%
	);
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.doctor-point {
	flex-basis: 30%;
	max-width: 600px;
	margin: 30px;
	text-align: center;
	position: relative;
}

.doctor-point img {
	width: 100%;
	height: auto;
}

.doctor-info,
.doctor-info2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
}

h2 {
	color: #fff;
	font-weight: 500;
}

.btn {
	cursor: pointer;
	margin-top: 1em;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-size: 2em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	display: inline-block;
}

.blue {
	color: rgb(255, 255, 255);
	text-shadow: none;
	border: 2px rgba(12, 46, 109, 1) solid;
	font-size: 1.3em;
	font-weight: 400;
}
.blue:hover {
	background-color: rgba(12, 46, 109, 1);
	color: #fff;
	border: 2px #ffffff solid;
}

.green {
	color: #ffffff;
	text-shadow: none;
	border: 2px #d63384 solid;
	font-size: 1.3em;
	font-weight: 400;
}

.green:hover {
	color: #fff;
	background-color: #d63384;
	border: 2px #ffffff solid;
}

.doctor-info:nth-child(2) {
	position: absolute;
	top: 10em;
	left: 55%;
	transform: translateX(15%);
}

.doctor-info2:nth-child(2) {
	position: absolute;
	top: 10em;
	left: 5%;
	transform: translateX(15%);
}

/* @media only screen and (min-width: 320px) and (max-width: 768px) {
	.doctor-point {
		flex-basis: 60%;
	}

	.doctor-info:nth-child(2) {
		position: absolute;
		top: 5em;
		left: 53%;
		transform: translateX(15%);
	}

	.doctor-info2:nth-child(2) {
		position: absolute;
		top: 5em;
		left: -12%;
		transform: translateX(15%);
	}
}

@media (min-width: 1024px) {
	.doctor-point {
		flex-basis: 30%;
	}
}

@media (min-width: 2560px) {
	.doctor-point {
		flex-basis: 20%;
	}
} */

/* *********** */
/* aside {
	background: linear-gradient(
		0deg,
		rgba(6, 16, 41, 1) 0%,
		rgba(12, 46, 109, 1) 100%
	);
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.doctor-point {
	height: 40%;
	width: 40%;
	position: relative;
	margin-top: 5em;
}

.doctor-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
}

.doctor-info h2 {
	color: #fff;
	font-size: 2em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
}

.doctor-info2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
}

.doctor-info2 h2 {
	color: #fff;
	font-size: 2em;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
}

.btn {
	cursor: pointer;
	margin-top: 1em;
	border-radius: 5px;
	text-decoration: none;
	padding: 10px;
	font-size: 2em;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	display: inline-block;
}

.blue {
	color: #0d6efd;
	text-shadow: none;
	border: 2px #0d6efd solid;
	font-size: 1.3em;
}

.blue:hover {
	background-color: #55acee;
	color: #fff;
}

.green {
	color: #d63384;
	text-shadow: none;
	border: 2px #d63384 solid;
	font-size: 1.3em;
}

.green:hover {
	color: #fff;
	background-color: #d63384;
}

.doctor-info:nth-child(2) {
	position: absolute;
	top: 8em;
	left: 50%;
	transform: translateX(15%);
}

.doctor-info2:nth-child(2) {
	position: absolute;
	top: 8em;
	left: -1%;
	transform: translateX(15%);
} */

/* ---------------------- */

/* ******************/

/* Estilos específicos para pantallas 4K */

@media screen and (min-width: 1900px) and (max-height: 3840px) {
	@import url('/css/styleresponsivepantallas4k.css');
}

/* Hoja de estilos para pantallas grandes */

@media screen and (min-width: 1200px) {
	@import url('/css/styleresponsivepantallasgrandes.css');
}

/* Hoja de estilos para pantallas medianas */

@media screen and (min-width: 992px) and (max-width: 1199px) {
	@import url('/css/styleresponsivepantallasmedianas.css');
}

/* Hoja de estilos para pantallas pequeñas */

@media screen and (max-width: 600px) {
	@import url('/css/styleresponsivepantallaspequeñas.css');
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	@import url('/css/styleresponsivepantallaspequeñas.css');
}

/* ---------------------- */
