/* Hoja de estilos para pantallas pequeñas */

:root {
	--morado-capacita: #8c2b87;
	--investiga-amarillo: #ef7d17;
	--observa-azul: #135b89;
	--Black: #000;
	--White: #fff;
	--magenta: #d63384;
	--azul-web: #0d6efd;
	--color-text: #135b89;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Poppins', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

body {
	background: rgb(255, 255, 255);
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 100% !important;
	overflow-x: hidden !important;
}

body::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgba(12, 46, 109, 1) 80%
	);
	border-radius: 5px;
}
@media screen and (min-width: 320px) and (max-width: 559px) {
	/* Nav */
	header {
		position: fixed;
		width: 100%;
		height: 9%;
		padding-top: 1.8rem;
		padding-bottom: 1.2rem;
		z-index: 999;
	}

	header.bg-33 {
		background: linear-gradient(
			0deg,
			rgba(6, 16, 41, 1) 0%,
			rgba(12, 46, 109, 1) 100%
		);
		border-bottom: 2px solid #ffffff;
	}

	.img-gov {
		width: 10em;
		object-fit: cover;
		position: fixed;
		padding-top: 1.8rem;
	}

	.icon-enfermedades {
		width: 3.2em;
		object-fit: cover;
		top: -3.6%;
		left: 60%;
		padding-bottom: 1.2rem;
		padding-top: 1.8rem;
	}

	.button-menu {
		z-index: 200;
		width: 40px;
		height: 40px;
		border: none;
		display: flex;
		background: none;
		flex-direction: column;
		cursor: pointer;
		top: -60%;
		left: -5%;
	}

	.nav-links {
		background-color: rgb(250, 250, 250);
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 100%;
		align-items: center;
		justify-content: flex-start;
		border-radius: 0px 0px 0px 0px;
	}

	.link-item {
		margin-top: 1.7rem;
		color: #444444;
		text-decoration: none;
		font-weight: bold;
		position: relative;
		top: 30px;
	}

	/* ************ */

	.text-banner {
		height: 70em;
		background: linear-gradient(
			0deg,
			rgba(6, 16, 41, 1) 0%,
			rgba(12, 46, 109, 1) 100%
		);
	}

	.contenedor-textos {
		width: 100%;
		color: rgb(255, 255, 255);
		position: relative;
		top: 7em;
		left: -1%;
	}

	h1 {
		font-size: 25px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 700;
		text-align: center;
	}

	h2 {
		font-size: 17px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 400;
		text-align: center;
	}

	.inicial {
		width: 80%;
		position: absolute;
		left: 50%;
		top: 55%;
		transform: translate(-50%, -50%);
	}

	/* video */

	.video-responsive iframe,
	.video-responsive object,
	.video-responsive embed {
		width: 80%;
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translate(-50%, -50%);
		width: 90%;
		height: 30%;
	}

	.wave {
		position: absolute;
		bottom: -46%;
		left: 0;
		width: 100%;
	}

	/* *** */

	section {
		height: 100%;
		overflow: hidden;
	}

	h3 {
		position: relative;
		color: rgba(12, 46, 109, 1);
		z-index: 40;
		right: 0%;
		bottom: -7px;
		font-size: 40px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		text-align: center;
	}

	p {
		position: relative;
		color: #000;
		opacity: 87%;
		z-index: 70;
		bottom: 0%;
		font-size: 16px;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		text-align: justify;
		margin: 60px;
	}

	/*  */

	.lbl-modal {
		text-decoration: underline;
		padding: 10px 15px;
		border-radius: 10px;
		cursor: pointer;
		position: relative;
		top: -3em;
		left: 10%;
		font-size: 18px;
		color: rgba(0, 0, 0, 0.826);
		text-shadow: none;
	}

	.modal {
		position: fixed;
		top: 20%;
		left: 0%;
		background: rgba(0, 0, 0, 0.35);
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: 280;
	}

	.contenido {
		width: 100%;
	}

	.contenedor {
		width: 100%;
		height: 600px;
	}

	.fungicas {
		color: rgba(12, 46, 109, 1);
		text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
		text-align: center;
		font-size: 2.5em;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		align-items: center;
		z-index: 120;
		position: absolute;
		top: 7%;
		left: 0%;
	}

	.fungicas2::after,
	.fungicas2::before {
		content: '';
		display: block;
		position: absolute;
		width: 50%;
		height: 50%;
		border: 2px solid;
		transition: all 0.6s ease;
		border-radius: 2px;
	}

	.fungicas2::after {
		bottom: 0;
		right: 0;
		border-top-color: transparent;
		border-left-color: transparent;
		border-bottom-color: rgba(12, 46, 109, 1);
		border-right-color: rgba(12, 46, 109, 1);
	}

	.fungicas2::before {
		top: 0;
		left: 0;
		border-bottom-color: transparent;
		border-right-color: transparent;
		border-top-color: rgba(12, 46, 109, 1);
		border-left-color: rgba(12, 46, 109, 1);
	}

	.fungicas2:hover:after,
	.fungicas2:hover:before {
		border-bottom-color: var(--magenta);
		border-right-color: var(--magenta);
		border-top-color: var(--magenta);
		border-left-color: var(--magenta);
		width: 100%;
		height: 100%;
	}

	/* .fungicas2 {
		text-align: center;
		font-size: 1.9em;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		align-items: center;
		color: rgba(12, 46, 109, 1);
		text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
		z-index: 190;
		position: absolute;
		top: -100%;
		left: 25%;
	} */

	/* webinar */
	@media only screen and (min-width: 320px) and (max-width: 425px) {
		aside {
			height: 1900px;
		}
		.doctor-point {
			flex-basis: 60%;
		}

		.doctor-point img {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -70px;
		}

		.doctor-point .inicial-two {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -90px;
		}

		.doctor-info:nth-child(2) {
			position: absolute;
			top: 40em;
			left: 20%;
			transform: translateX(15%);
		}

		.doctor-info2:nth-child(2) {
			position: absolute;
			top: 30em;
			left: 8%;
			transform: translateX(15%);
		}
	}

	@media only screen and (min-width: 426px) and (max-width: 520px) {
		aside {
			height: 1900px;
		}
		.doctor-point {
			flex-basis: 60%;
		}

		.doctor-point img {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -70px;
		}

		.doctor-point .inicial-two {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -90px;
		}

		.doctor-info:nth-child(2) {
			position: absolute;
			top: 45em;
			left: 20%;
			transform: translateX(15%);
		}

		.doctor-info2:nth-child(2) {
			position: absolute;
			top: 33em;
			left: 10%;
			transform: translateX(15%);
		}
	}

	@media only screen and (min-width: 540px) {
		aside {
			height: 1900px;
		}
		.doctor-point {
			flex-basis: 60%;
		}

		.doctor-point img {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -70px;
		}

		.doctor-point .inicial-two {
			width: 100%;
			height: auto;
			object-fit: cover;
			position: relative;
			top: -90px;
		}

		.doctor-info:nth-child(2) {
			position: absolute;
			top: 52em;
			left: 20%;
			transform: translateX(15%);
		}

		.doctor-info2:nth-child(2) {
			position: absolute;
			top: 39em;
			left: 10%;
			transform: translateX(15%);
		}
	}


}

@media screen and (min-width: 600px) and (max-width: 768px) {
}
