:root {
	--morado-capacita: #8c2b87;
	--investiga-amarillo: #ef7d17;
	--observa-azul: #135b89;
	--Black: #000;
	--White: #fff;
	--magenta: #d63384;
	--azul-web: #0d6efd;
	--color-text: #135b89;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #ffffff;
	font-family: 'Poppins', 'Work Sans', 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 100% !important;
	overflow-x: hidden !important;
}

body::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgb(12, 46, 109) 80%
	);
	border-radius: 5px;
}

::selection {
	background-color: #d63384;
	color: #fff;
}

/*  */

.header-banner {
	background: url('http://186.154.202.145:20002/home/Aspergilosis/PublishingImages/TRAMA%20ASPERGILOSIS%20BANNER.svg'),
		linear-gradient(0deg, rgba(6, 16, 41, 1) 0%, rgba(12, 46, 109, 1) 100%);
	background-size: cover;
	background-position: center;
	height: 53rem;
}

.contenedor-textos {
	width: 100%;
	color: rgb(255, 255, 255);
	position: relative;
	top: 7em;
	left: -1%;
}

.superpuesta {
	position: relative;
	display: inline-block;
	color: transparent;
	z-index: 1;
}

.superpuesta::after {
	content: '';
	display: block;
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('http://186.154.202.145:20002/home/PublishingImages/hongo%20lineas%20%20cultivo.svg');
	background-size: contain;
	background-repeat: no-repeat;
	z-index: -1;
}

h1 {
	font-size: 55px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	text-align: center;
}

.contenedor-textos2 {
	color: #fff;
	max-width: 50rem;
	margin-top: 15%;
}

.title_2 {
	color: rgba(255, 255, 255);
	font-size: 30px;
	margin-bottom: 10px;
	margin-left: 8%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	line-height: 28px;
	letter-spacing: 2.3px;
	text-transform: none;
}

.title_2::after {
	content: '';
	display: block;
	width: 8%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -8px;
	left: 0%;
	border-radius: 2px;
}

.parrafo_banner {
	color: #ffffff;
	opacity: 87%;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	text-transform: none;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 0;
}

.inicial {
	width: 30%;
	position: relative;
	left: 60%;
	bottom: 17em;
	/* transform: scaleX(-1); */
	filter: drop-shadow(0px 3px 3px #f1f1f12c);
	object-fit: cover;
}

.wave-cripto {
	position: absolute;
	bottom: -16em;
	left: 0;
	width: 100%;
	z-index: 70;
}

/* /// */

.text-section {
	background-color: #ffffff;
	height: 128rem;
	position: relative;
	top: 1em;
}

h3 {
	color: rgba(12, 46, 109, 1);
	font-size: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	margin: 80px;
	/* text-shadow: 2px 2px 2px #222; */
	z-index: 70;
}

.Gen_3 {
	color: rgba(12, 46, 109, 1);
	font-size: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	margin: 80px;
	/* text-shadow: 2px 2px 2px #222; */
	z-index: 70;
}

.Gen_3::after {
	content: '';
	display: block;
	width: 5%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -8px;
	left: 24%;
	border-radius: 2px;
}

p {
	color: #000;
	opacity: 87%;
	z-index: 70;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	text-transform: none;
	line-height: 28px;
	margin: 60px;
}

.p-contenedor::first-letter {
	font-size: 3em;
	-webkit-initial-letter: 3 1;
	initial-letter: 3 1;
	color: rgba(12, 46, 109, 1);
	font-weight: 500;
	margin-right: 0.25em;
	/* text-shadow: 3px 3px 3px #222;
	font-family: 'HK Grotesk'; */
}

strong {
	color: rgba(12, 46, 109, 1);
	font-size: 25px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	margin: 0px;
	/* text-shadow: 2px 2px 2px #222222; */
	z-index: 70;
}

#container-web {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.content-candi {
	width: 8%;
	height: auto;
}

.pdf3 {
	cursor: pointer;
	filter: drop-shadow(0px 8px 3px #0202024f);
}
.pdf3:hover {
	transition: all 0.9s;
	transform: rotateY(360deg);
}
.pdf-text {
	cursor: pointer;
	margin-left: -50px;
	color: rgb(214, 51, 132);
	text-shadow: none;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	white-space: nowrap;
}

.cuadro {
	display: block;
	margin: 0px auto;
}

/*  */

.modal {
	position: fixed;
	top: 5%;
	left: 50%;
	background: rgba(0, 0, 0, 0.35);
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: 80;
	margin: 5%;
}

#btn-modal:checked ~ .modal {
	opacity: 1;
	visibility: visible;
}

.contenedor {
	width: 500px;
	height: 500px;
	background-color: #fff;
	box-shadow: 1px 7px 25px rgba(0, 0, 0, 0.6);
	transition: all 500ms ease;
	position: relative;
	transform: translateY(-30%);
	overflow: scroll;
}

#btn-modal:checked ~ .modal .contenedor {
	transform: translateY(0%);
}

.contenedor::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

.contenedor label {
	position: absolute;
	top: 25px;
	right: 10px;
	color: rgba(12, 46, 109, 1);
	font-size: 30px;
	cursor: pointer;
}

.contenedor::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgba(12, 46, 109, 1) 80%
	);
	border-radius: 5px;
}
.contenido {
	width: 100%;
	padding: 10px;
}

.contenido .h3-contenedor {
	font-size: 35px;
	position: relative;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	line-height: 40px;
	/* text-shadow: 2px 2px 2px #222; */
}

.h3-contenedor::after {
	content: '';
	display: block;
	width: 15%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -3px;
	left: 6%;
	border-radius: 2px;
}

.contenido .p2-contenedor {
	font-size: 16px;
	font-family: 'work sans';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	position: relative;
	left: -1%;
	top: 0em;
}

#btn-modal {
	display: none;
}

.lbl-modal {
	text-decoration: underline;
	padding: 10px 15px;
	border-radius: 10px;
	cursor: pointer;
	position: relative;
	top: -3em;
	margin-left: 46px;
	color: rgba(12, 46, 109, 1);
	text-shadow: none;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
	.contenedor {
		width: 95%;
	}
}

/* ****** */

.imagenes {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.Conoce {
	color: rgb(12, 46, 109);
	font-size: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	z-index: 20;
	margin-bottom: 90px;
	width: 100%;
}

.Conoce::after {
	content: '';
	display: block;
	width: 5%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -8px;
	left: 40%;
	border-radius: 2px;
}

.imagenes div {
	width: 100%;
	max-width: 400px;
	margin: 22px;
}

.imagenes img {
	width: 60%;
	height: auto;
	margin: 20px;
	object-fit: cover;
	filter: drop-shadow(0px 8px 3px #02020265);
}

.lbl-modal1 img {
	width: 80%;
	height: auto;
	margin-left: 10%;
	filter: drop-shadow(0px 8px 3px #0202024f);
}

.lbl-modal2 img {
	width: 80%;
	height: auto;
	margin-left: 12%;
	filter: drop-shadow(0px 8px 3px #0202024f);
}

.lbl-modal3 img {
	width: 90%;
	height: auto;
	margin-left: 10%;
	filter: drop-shadow(0px 8px 3px #0202024f);
}

.lbl-modal4 img {
	width: 50%;
	height: auto;
	margin-left: 20%;
	filter: drop-shadow(0px 8px 3px #0202024f);
}
.lbl-modal5 img {
	width: 60%;
	height: auto;
	margin-left: 100px;
}

.lbl-modal6 img {
	width: 50%;
	height: auto;
	margin-left: 30%;
}

.lbl-modal7 img {
	width: 80%;
	height: auto;
}

.lbl-modal8 img {
	width: 60%;
	height: auto;
	margin-left: 20%;
}

.items-text-B {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	color: rgba(12, 46, 109, 1);
	cursor: pointer;
	font-weight: 600;
	position: relative;
	left: -60px;
	top: -15px;
}

.items-text-a {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	font-size: 18px;
	color: rgba(12, 46, 109, 1);
	cursor: pointer;
	font-weight: 600;
}

@media (min-width: 768px) {
	.imagenes div {
		width: 45%;
		max-width: none;
	}
}

@media (min-width: 1024px) {
	.imagenes div {
		width: 30%;
	}
}

@media (min-width: 2560px) {
	.imagenes div {
		width: 20%;
	}
}
/* ** */

.wave2 {
	position: relative;
	bottom: 1%;
	left: 0;
	width: 100%;
}

.Recuerda {
	height: 70rem;
	background: url('http://186.154.202.145:20002/home/Aspergilosis/PublishingImages/TRAMA%20ASPERGILOSIS%20BANNER.svg'),
		linear-gradient(0deg, rgba(6, 16, 41, 1) 0%, rgba(12, 46, 109, 1) 100%);
	background-size: cover;
	background-position: center;
}

.contenedor-textos3 {
	color: #fff;
	max-width: 50rem;
	margin-top: -3%;
}

.title_3 {
	color: rgba(255, 255, 255);
	font-size: 40px;
	margin-bottom: 10px;
	margin-left: 8%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	line-height: 28px;
	letter-spacing: 2.3px;
	text-transform: none;
}

.title_3::after {
	content: '';
	display: block;
	width: 10%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -8px;
	border-radius: 2px;
}

.parrafo_banner1 {
	color: #ffffff;
	opacity: 87%;
	font-size: 18px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: justify;
	text-transform: none;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 0;
}

.candi-webinar-titulo {
	color: rgba(255, 255, 255);
	z-index: 70;
	font-size: 40px;
	margin-top: -20%;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	/* text-shadow: 2px 2px 2px #ffffd881; */
}

.candi-webinar-titulo::after {
	content: '';
	display: block;
	width: 5%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -10px;
	left: 32%;
	border-radius: 2px;
}

.inicial2 {
	width: 20%;
	position: relative;
	left: 70%;
	bottom: 20em;
	/* transform: scaleX(-1); */
	filter: drop-shadow(0px 8px 3px #02020265);
	object-fit: cover;
}

#container-web2 {
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.pdf4 {
	cursor: pointer;
	margin-left: -20px;
}
.pdf4:hover {
	transition: all 0.9s;
	transform: rotateY(360deg);
}

.pdf-text2 {
	color: #fff;
	text-shadow: none;
	font-family: 'Poppins';
	margin-left: -8em;
	font-size: 18px;
	position: relative;
	bottom: -1rem;
	font-style: normal;
	font-weight: 600;
	cursor: pointer;
	white-space: nowrap;
}

.content-candi2 {
	width: 12%;
	height: auto;
	position: relative;
	top: -10px;
	filter: drop-shadow(0px 8px 3px #0202024f);
}
