@media all and (min-width: 1900px) and (max-width: 2550px) {



    /* logo-gov */


    .img-gov {

        width: 13em;
        object-fit: cover;
        position: fixed;
        top: 1%;
        left: 2%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }


    .icon-enfermedades {
        width: 4em;
        object-fit: cover;
        position: fixed;
        top: -1%;
        left: 80%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }





/* ****** */



.Recuerda {
    height: 200rem;
    background: linear-gradient(0deg, rgba(6, 16, 41, 1) 0%, rgba(12, 46, 109, 1) 100%);
}





a .ir {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 38%;
    top: 4.4%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir2 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 60%;
    top: 5.4%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir3 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 60%;
    top: 5.4%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir4 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 38%;
    top: 4.5%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir5 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 60%;
    top: 5.4%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir6 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 38%;
    top: 4.5%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir7 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 60%;
    top: 5.6%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}


a .ir8 {
    color: rgb(235, 235, 235);
    text-shadow: rgb(122, 121, 121) 0.1em 0.1em 0.2em;
    position: relative;
    left: 38%;
    top: 4.6%;
    z-index: 10;
    font-size: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
}






















}