:root {
	--morado-capacita: #8c2b87;
	--investiga-amarillo: #ef7d17;
	--observa-azul: #135b89;
	--Black: #000;
	--White: #fff;
	--magenta: #d63384;
	--azul-web: #0d6efd;
	--color-text: #135b89;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	background: #ffffff;
	font-family: 'Poppins', 'Work Sans', 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-width: 100% !important;
	overflow-x: hidden !important;
}

body::-webkit-scrollbar {
	width: 8px;
	background: #14213d6c;
	margin: 20px;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 0.856) 20%,
		rgb(12, 46, 109) 80%
	);
	border-radius: 5px;
}

::selection {
	background-color: #d63384;
	color: #fff;
}

/*  */
.banner_Promocinal {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 505px;
	padding: 0;
	width: 100%;
	margin-top: 2%;
	background: url(http://186.154.202.145:20002/home/Webinar/PublishingImages/Dra%20banner%20webinar.svg),
		linear-gradient(0deg, rgba(6, 16, 41, 1) 0%, rgba(12, 46, 109, 1) 100%);
	background-repeat: space;
}

.banner__imagen {
	flex: 1;
	text-align: center;
	width: 80%;
}

.banner__contenido {
	flex: 2;
	color: #fff;
	text-align: center;
	margin: 12px;
}

.banner__contenido h2 {
	font-size: 2em;
}

.banner__contenido p {
	font-size: 1.2em;
	margin-bottom: 20px;
}

.boton-youtube {
	display: inline-block;
	color: rgb(214, 51, 132);
	background: var(--White);
	font-size: 15px;
	font-weight: bold;
	margin: auto 0;
	padding: 12px 24px;
	border: 1px solid rgb(214, 51, 132);
	border-radius: 15px;
	text-decoration: none;
	transition: background-color 0.6s ease, color 0.6s ease;
	text-align: center;
	line-height: 24px;
	text-shadow: none;
}

.icono-youtube {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-image: url('http://186.154.202.145:20002/home/Webinar/PublishingImages/youtube%20(1).png');
	background-size: cover;
	margin-right: 8px;
	vertical-align: middle;
}

.boton-youtube:hover {
	background-color: rgb(214, 51, 132);
	color: white;
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: pulse514 1.5s infinite;
}

@keyframes pulse514 {
	0% {
		box-shadow: 0 0 0 0 rgb(214, 51, 132, 0.4);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(214, 51, 132, 0%);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(214, 51, 132, 0%);
	}
}

/* ********** */

.Recuerda {
	height: 100%;
	background: url(http://186.154.202.145:20002/home/Webinar/PublishingImages/TRAMA%20WEBINAR.svg),
		linear-gradient(0deg, rgba(6, 16, 41, 1) 0%, rgba(12, 46, 109, 1) 100%);
	text-align: center;
	padding: 10% 0;
}

.Conoce {
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	text-align: center;
	text-transform: none;
	line-height: 28px;
	white-space: nowrap;
	margin-bottom: 100px; /* Agregar un espacio entre el título y las imágenes */
}

.Conoce::after {
	content: '';
	display: block;
	width: 5%;
	height: 2px;
	background-color: rgb(214, 51, 132);
	position: relative;
	bottom: -10px;
	left: 41%;
	border-radius: 2px;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

.flex-item {
	width: 40%;
	position: relative;
	margin-bottom: 80px;
}

.flex-img {
	max-width: 70%;
}

.ir {
	position: absolute;
	bottom: 15px;
	left: 75%;
	transform: translateX(-50%);
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: rgb(214, 51, 132);
	background: var(--White);
	padding: 5px 10px;
	border: 1px solid rgb(214, 51, 132);
	border-radius: 15px;
	font-family: inherit;
	font-size: 17px;
	font-weight: 600;
	transition: background-color 0.6s ease, color 0.6s ease;
	z-index: 1;
}

.ir:hover {
	background-color: rgb(214, 51, 132);
	color: white;
	background-position: right center;
	background-size: 200% auto;
	-webkit-animation: pulse 2s infinite;
	animation: pulse513 1.5s infinite;
}

@keyframes pulse513 {
	0% {
		box-shadow: 0 0 0 0 rgb(214, 51, 132, 0.4);
	}

	70% {
		box-shadow: 0 0 0 10px rgba(214, 51, 132, 0%);
	}

	100% {
		box-shadow: 0 0 0 0 rgba(214, 51, 132, 0%);
	}
}
